body {
    font-family: 'Bungee', sans-serif;
}

h1 {
    text-align: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

#expansionSelect {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    appearance: none;
    border-style: hidden;
}

button {
    margin-left: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    border-style: hidden;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004494;
    transform: scale(0.98);
}

#board {
    width: 800px;
    height: 600px;
    margin: 3rem auto 0;
    padding: 3rem;
    background-color: #d2d1d1;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
}

.board-row {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.tile {
    font-size: 2rem;
    width: 125px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
}

.tile-number {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #cb9c55;
    border: 1px solid black;
    color: black;
    font-family: 'Bungee', sans-serif;
}

.tile-number.red {
    color: #df0c0c;
}

.wood {
    background-image: url('/static/tiles/wood.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
}

.hay {
    background-image: url('/static/tiles/hay.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
}

.sheep {
    background-image: url('/static/tiles/sheep.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
}

.brick {
    background-image: url('/static/tiles/red_brick.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
}
.rock {
    background-image: url('/static/tiles/stone.jpeg');
    background-size: cover;
    background-position: center;
    color: black;

}
.desert {
    background-image: url('/static/tiles/desert.jpeg');
    background-size: cover;
    background-position: center;
    color: black;
}
