body {
    font-family: 'Bungee', sans-serif;
}

h1 {
    text-align: center;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

#expansionSelect {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    appearance: none;
    border-style: hidden;
}

button {
    margin-left: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    border-style: hidden;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004494;
    transform: scale(0.98);
}

#board {
    width: 800px;
    height: 600px;
    margin: 3rem auto 0;
    padding: 3rem;
    background-color: lightblue;
    clip-path: polygon(
        25% 0%,
        75% 0%,
        100% 50%,
        75% 100%,
        25% 100%,
        0% 50%
    );
}

.board-row {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.tile {
    font-size: 2rem;
    width: 125px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    color: white;
}

.wood { background-color: brown; color: white; }
.hay { background-color: yellow; color: black; }
.sheep { background-color: gray; color: black; }
.brick { background-color: red; color: white; }
.rock { background-color: black; color: white; }
.desert { background-color: beige; color: black; }
